body {
  margin: 0 auto;
  font-family: 'Montserrat', normal;
  max-width: 1440px;
  color: #FF6060;
}

main {
  margin: 0 100px;
}

a {
  text-decoration: none;
  color: #FF6060;
}

h3,h2,h1 {
  font-weight: normal;
}

@media only screen and (max-width: 907px) {
  main {
    margin: 0 20px;
  }
}
